header{background-color:#E6E6E6;}
p{text-align: center ;}
h1,h2{background-color: #C4C4C4; color: #005677;}
section span{font-style: italic;font-weight: bold;}
span{font-weight: bold;}
h1{text-align: center;}
footer h2{text-align: center; color: white; background-color: #005677;}